* {
    font-family: sans-serif;
}

.title {
    color: red;
    text-align: center;
    width: 400px;
    margin: auto;
}

.description {
    color: green;
}

.ingredients {
    color: rgb(10, 150, 103);
}

.steps {
    color: rgb(53, 71, 236);
}

.paragraph1 {
    color: rgb(0, 0, 0);
    font-size: 21px;
}

.unordered-list {
    font-size: 18px;
}

.ordered-list {
    font-size: 18px;
}

ol li {
    font-weight: bold;
}

ol li span {
    font-weight: normal;
}

.lasagna {
    display: block;
    background-color: pink;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 200px;
    border: 1px solid rgb(172, 72, 72);
    padding: 50px;
    margin: 40px auto;
}

.pizza {
    display: block;
    background-color: lightblue;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    width: 200px;
    border: 1px solid rgb(172, 72, 72);
    padding: 50px;
    margin: 50px auto;
}

.scrambled-eggs {
    display: block;
    background-color: peachpuff;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 200px;
    border: 1px solid rgb(172, 72, 72);
    padding: 50px;
    margin: 40px auto;
}

